Flows/11-01-ReportTeamsAudit-NewCampaign-WF.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http"
            }
        },
        "actions": {
            "AddNewCampaign": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "CurrentReminderCount": 1,
                        "IsActive": true,
                        "NextReminderDate": "@addDays(utcNow(), int(variables('config')?['reminderInterval']))",
                        "NextReminderDate@odata.type": "Edm.DateTime",
                        "PartitionKey": "@{variables('iteration')}",
                        "RowKey": "@{variables('year')}-@{variables('iteration')}",
                        "Year": "@{variables('year')}"
                    },
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableCampaigns'])}/entities"
                },
                "runAfter": {
                    "initIteration": [
                        "Succeeded"
                    ]
                }
            },
            "CampaigneLoop": {
                "type": "Foreach",
                "foreach": "@body('getCampaigns')?['value']",
                "actions": {
                    "InvalidateCampaignes": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                            },
                            "method": "patch",
                            "body": {
                                "IsActive": false
                            },
                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableCampaigns'])}/entities(PartitionKey='@{encodeURIComponent(items('CampaigneLoop')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('CampaigneLoop')?['RowKey'])}')"
                        }
                    }
                },
                "runAfter": {
                    "getCampaigns": [
                        "Succeeded"
                    ]
                }
            },
            "GetCurrentYearCampaigns": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableCampaigns'])}/entities",
                    "queries": {
                        "$filter": "Year eq '@{variables('year')}'"
                    }
                },
                "runAfter": {
                    "CampaigneLoop": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "text/json"
                    },
                    "body": {
                        "campaign": "@{variables('year')}-@{variables('iteration')}",
                        "startDate": "@{utcNow()}"
                    }
                },
                "runAfter": {
                    "RunFlow1": [
                        "Succeeded"
                    ]
                }
            },
            "RunFlow1": {
                "type": "Http",
                "inputs": {
                    "uri": "@variables('config')?['flow1Url']",
                    "method": "POST"
                },
                "runAfter": {
                    "sendmail": [
                        "Succeeded"
                    ]
                }
            },
            "createTable": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@{variables('config')?['tableCampaigns']}",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables"
                },
                "runAfter": {
                    "initYear": [
                        "Succeeded"
                    ]
                }
            },
            "getCampaigns": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableCampaigns'])}/entities",
                    "queries": {
                        "$filter": "IsActive eq true"
                    }
                },
                "runAfter": {
                    "createTable": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "getConfig": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('solutionConfig')}/entities(PartitionKey='@{encodeURIComponent('11')}',RowKey='@{encodeURIComponent('config')}')"
                },
                "runAfter": {}
            },
            "initConfig": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "config",
                            "type": "object",
                            "value": "@json(body('getConfig')?['Value'])"
                        }
                    ]
                },
                "runAfter": {
                    "getConfig": [
                        "Succeeded"
                    ]
                }
            },
            "initIteration": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "iteration",
                            "type": "integer",
                            "value": "@add(length(body('GetCurrentYearCampaigns')?['value']), 1)"
                        }
                    ]
                },
                "runAfter": {
                    "GetCurrentYearCampaigns": [
                        "Succeeded"
                    ]
                }
            },
            "initYear": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "year",
                            "type": "string",
                            "value": "@{formatDateTime(utcNow(), 'yyyy')}"
                        }
                    ]
                },
                "runAfter": {
                    "initConfig": [
                        "Succeeded"
                    ]
                }
            },
            "sendmail": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "@{variables('config')?['adminEmail']}",
                        "Subject": "solution11: New Audit started: @{variables('year')}-@{variables('iteration')}",
                        "Body": "<p class=\"editor-paragraph\">&nbsp;\"CurrentReminderCount\": 1,<br>&nbsp;\"IsActive\": true,<br>&nbsp;\"NextReminderDate\": @{addDays(utcNow(), int(variables('config')?['reminderInterval']))},<br>&nbsp;\"PartitionKey\": \"@{variables('iteration')}\",<br>&nbsp;\"RowKey\": \"@{variables('year')}-@{variables('iteration')}\",<br>&nbsp;\"Year\": \"@{variables('year')}\"</p>",
                        "Importance": "Normal"
                    },
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "AddNewCampaign": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuretables": {
                    "id": "/subscriptions/<your-subscription-id>/providers/Microsoft.Web/locations/southcentralus/managedApis/azuretables",
                    "connectionId": "/subscriptions/<your-subscription-id>/resourceGroups/RG-TeamsAudit/providers/Microsoft.Web/connections/azuretables",
                    "connectionName": "azuretables"
                },
                "office365": {
                    "id": "/subscriptions/<your-subscription-id>/providers/Microsoft.Web/locations/southcentralus/managedApis/office365",
                    "connectionId": "/subscriptions/<your-subscription-id>/resourceGroups/RG-TeamsAudit/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365"
                }
            }
        }
    }
}