Flows/11-03-ReportTeamsAudit-Send-WF.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http"
            }
        },
        "actions": {
            "GetActiveCampaign": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableCampaigns'])}/entities",
                    "queries": {
                        "$filter": "IsActive eq true",
                        "$select": "RowKey"
                    }
                },
                "runAfter": {
                    "initEmailTemp": [
                        "Succeeded"
                    ]
                }
            },
            "getConfig": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('solutionConfig')}/entities(PartitionKey='@{encodeURIComponent('11')}',RowKey='@{encodeURIComponent('config')}')"
                },
                "runAfter": {}
            },
            "getRecipients": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableRecipients'])}/entities",
                    "queries": {
                        "$filter": "PartitionKey eq '@{variables('campaign')}'"
                    }
                },
                "runAfter": {
                    "initBody": [
                        "Succeeded"
                    ]
                }
            },
            "initBody": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "body",
                            "type": "string",
                            "value": "Deine Teams<br>"
                        }
                    ]
                },
                "runAfter": {
                    "initCampaign": [
                        "Succeeded"
                    ]
                }
            },
            "initCampaign": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "campaign",
                            "type": "string",
                            "value": "@{body('GetActiveCampaign')?['value'][0]?['RowKey']}"
                        }
                    ]
                },
                "runAfter": {
                    "GetActiveCampaign": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "initConfig": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "config",
                            "type": "object",
                            "value": "@json(body('getConfig')?['Value'])"
                        }
                    ]
                },
                "runAfter": {
                    "getConfig": [
                        "Succeeded"
                    ]
                }
            },
            "initEmailTemp": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "emailTemp",
                            "type": "string",
                            "value": "<!DOCTYPE html>\n<html>\n\n<head>\n  <meta content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\">\n  <meta content=\"email template by atwork.at\" name=\"template\">\n  <style>\n    <!--\n    /* Font Definitions */\n    @font-face {\n      font-family: Wingdings;\n      panose-1: 5 0 0 0 0 0 0 0 0 0;\n    }\n\n    @font-face {\n      font-family: \"Cambria Math\";\n      panose-1: 2 4 5 3 5 4 6 3 2 4;\n    }\n\n    @font-face {\n      font-family: Calibri;\n      panose-1: 2 15 5 2 2 2 4 3 2 4;\n    }\n\n    @font-face {\n      font-family: \"Segoe UI\";\n      panose-1: 2 11 5 2 4 2 4 2 2 3;\n    }\n\n    @font-face {\n      font-family: \"Segoe UI Light\";\n      panose-1: 2 11 5 2 4 2 4 2 2 3;\n    }\n\n    /* Style Definitions */\n    p.MsoNormal,\n    li.MsoNormal,\n    div.MsoNormal {\n      margin: 0cm;\n      margin-bottom: .0001pt;\n      font-size: 11.0pt;\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    h1 {\n      mso-style-link: \"Heading 1 Char\";\n      margin-top: 24.0pt;\n      margin-right: 0cm;\n      margin-bottom: 0cm;\n      margin-left: 0cm;\n      margin-bottom: .0001pt;\n      page-break-after: avoid;\n      font-size: 16.0pt;\n      font-family: \"Segoe UI Light\", sans-serif;\n      color: #2F5496;\n      font-weight: normal;\n    }\n\n    h2 {\n      mso-style-link: \"Heading 2 Char\";\n      margin: 0cm;\n      margin-bottom: .0001pt;\n      font-size: 16.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: normal;\n    }\n\n    h3 {\n      mso-style-link: \"Heading 3 Char\";\n      margin-top: 2.0pt;\n      margin-right: 0cm;\n      margin-bottom: 2.0pt;\n      margin-left: 0cm;\n      line-height: 130%;\n      page-break-after: avoid;\n      font-size: 14.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: normal;\n    }\n\n    h4 {\n      mso-style-link: \"Heading 4 Char\";\n      margin-top: 2.0pt;\n      margin-right: 0cm;\n      margin-bottom: 2.0pt;\n      margin-left: 0cm;\n      line-height: 130%;\n      page-break-after: avoid;\n      font-size: 12.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: bold;\n    }\n\n    a:link,\n    span.MsoHyperlink {\n      color: blue;\n      text-decoration: underline;\n    }\n\n    a:visited,\n    span.MsoHyperlinkFollowed {\n      color: #954F72;\n      text-decoration: underline;\n    }\n\n    p {\n      margin-right: 0cm;\n      margin-left: 0cm;\n      font-size: 11.0pt;\n      font-family: \"Calibri\", sans-serif;\n      line-height: 13.5pt;\n    }\n\n    span.Heading2Char {\n      mso-style-name: \"Heading 2 Char\";\n      mso-style-link: \"Heading 2\";\n      font-family: \"Segoe UI\", sans-serif;\n    }\n\n    span.Heading1Char {\n      mso-style-name: \"Heading 1 Char\";\n      mso-style-link: \"Heading 1\";\n      font-family: \"Segoe UI Light\", sans-serif;\n      color: #2F5496;\n    }\n\n    span.Heading3Char {\n      mso-style-name: \"Heading 3 Char\";\n      mso-style-link: \"Heading 3\";\n      font-family: \"Segoe UI\", sans-serif;\n    }\n\n    span.Heading4Char {\n      mso-style-name: \"Heading 4 Char\";\n      mso-style-link: \"Heading 4\";\n      font-family: \"Segoe UI\", sans-serif;\n      font-weight: bold;\n    }\n\n    span.preheader {\n      mso-style-name: preheader;\n      display: none;\n    }\n\n    .MsoChpDefault {\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    .MsoPapDefault {\n      margin-bottom: 8.0pt;\n      line-height: 107%;\n    }\n\n    /* Page Definitions */\n    @page WordSection1 {\n      size: 612.0pt 792.0pt;\n      margin: 72.0pt 72.0pt 72.0pt 72.0pt;\n    }\n\n    div.WordSection1 {\n      page: WordSection1;\n    }\n\n    /* List Definitions */\n    ol {\n      margin-bottom: 0cm;\n    }\n\n    ul {\n      margin-bottom: 0cm;\n    }\n\n    /* fix generated HTML tables */\n    tr>td>p>span {\n      font-size: 0.8em;\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    ul>li {\n      font-family: \"Calibri\", sans-serif;\n      font-size: 11.0pt;\n      color: #222222;\n      line-height: 13.5pt;\n    }\n    -->\n  </style>\n  <title></title>\n</head><!-- email template 2018 by atwork.at -->\n\n<body lang=\"EN-US\" link=\"blue\" vlink=\"#954F72\">\n  <div class=\"WordSection1\">\n    <p class=\"MsoNormal\">&nbsp;</p>\n    <div align=\"center\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n        style='width:100.0%;border-collapse:collapse' width=\"100%\">\n        <tr>\n          <td style='width:100.0%;background:#F1F1F1;padding:0cm 0cm 0cm 0cm' valign=\"top\" width=\"100%\">\n            <div align=\"center\">\n              <!-- text above the table if needed -->\n              <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='width:450.0pt;border-collapse:collapse' width=\"600\">\n                <tr>\n                  <td style='width:450.0pt;background:#F1F1F1;padding:0pt 0pt 2.25pt 0pt' width=\"600\">\n                    <p align=\"right\" style='text-align:right'></p>\n                  </td>\n                </tr>\n              </table>\n            </div>\n            <div align=\"center\">\n              <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='border-collapse:collapse;border:none'>\n                <tr>\n                  <td style='border:solid #595959 1.0pt;padding:.75pt .75pt .75pt .75pt'>\n                    <div align=\"center\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                        style='width:450.0pt;background:white;border-collapse:collapse' width=\"600\">\n                        <tr>\n                          <!-- company logo -->\n                          <td style='padding:18.75pt 0cm 15.0pt 22.5pt'>\n                            <p class=\"MsoNormal\" style='line-height:105%'><span><img alt=\"Logo\" height=\"20\"\n                                  src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGIAAAAUCAIAAAD5vH+FAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAkxSURBVHja7Fh5cFPnEX+XTuuwZNmSL3zgA9tgY5twmdNgKIQJzZR2KAzx0HLDdKBNJ2HSBFpaSkqnTTzQuiWQNIFhAoQQYo5wgw3EF8b3bWzJsmVJ1mU/ne/oSja2bGxD/ygzafrmk/Tme/u+b7/f7v52VyjLssj/r+dd2Pfz2Fcru/afq3S4qReUJ76HGFkd7u0nSts7rGGBwi1L41+ON7Ga3q+05qvfIZgcLsbspODoxn7XSwo6Y1/Zzdof3q5bbXM0fVdgQlEEx1C4Gfh+GTB5aKvXo1gPRdv/h+N0DG5iWapa836PrRDH8EEsUR6G8gXccIUoM1y+gktIYVJtvNDc84mHNhEYB0XR8vZfc3ARxTh4eHBmzEEhL/LjOy33qnW/Xz89XC4atYXN4f7gcmNZmykzWvbLVYliAW+UQLfF/s5n5VlTVT9bFAeLw0xDl+Vala5OYzOSbidF0wwDbsElsAAOFikXzooLWpYWJuJz/Bdp0tkulnXWdlotdreL9qZ0nGF3Lo+fk6gcD47KDtPvzlRlJQfvWZk8sO+4MHlosrbzL1aHCX8qNlQycHAkSJQ6f8opWcDUFv2/Grq+AsX4HD6IqA03GNYrSTNITMiPeJzId8/VapsNgRL+X3NnjDQDu+146enrLQiOfl34pEFnO7UrC0NH+P/hi3UfFzRdqTesy4oWcDkHzlf/+es6m8mBUAwyLIl6VWN9Cgo5qTGy/M2z5sQHDzz7/MGTHcdKTVYn4qaH17V7JAJiQbLq2WBzUfSHl+sPXqiz6voftJm25yQKuMREMIGzLE4+a+qvRFF8SBuaIc1kvcb0pbGvqrR1d860bzKjDyolC23OxhbdMZBMi9oTwItgWJpLyEMDc3AMWZIS8mmX7dS36rdXJykDA4aN3G07W6xBxLwIuaDT7ID7d1+3JkcEDgkYbI5TD9VIAHdpigow+uRuy3snKxACT4gPfi09NETKBzuzTzVze5iaTsv58s6qVvPaDx+U/GG5UspXG/u3nii3kh6ehLdudmRSRKD3FRbBWHb1zAiXh2ZHmv9Bo2Hv6Yp7NT1g5PAoWd7GTD6XeH5BoArMhvHsfLXmUFnb3l6yjHR1SoVJMPS2oqaufAAlXrVJKkz2F96ZE3fqfrtBT35W1P7mqpSh+SuPuyjSLVUIT2yasfZvxSZ9/9Wqbn+YTha16/UkLiR+8YMEcL2j15thMjlKcus32UqpYEyFTxa25uaXqLtsX5aqty1NuF3bY7U4UQ6W90b6luyEUcI6cDEfSCIe4abo/WerPrjS6Oh3IwT246zYwxsyohQBz6dwp8dgdTSYyKpRw2yv5eAScHmGcXto24DwEHNTNDlqnZlxwUumqiDGjt9tt7s8Q/MFj7sQhs2IluWkhmVMksJ9QUUX+9S0UPIdu90Kby1KCXllsgJoRd3rgIdrZk0aDyO4fjInOiokADSr1HhTis7igHu5lL9mZtQYmW6QQbCiBv2qw3f/eK7G4aKVIaLj22ef2TP/WYxGe5PBVlypPmAhK12UiWEpP68cTKSwAYFzfBu9UCrdvmTytUfahg7zxXLt2rnRMPPE0PdtqwmSwqq0MFhkxfSwG2Xa4tbe1p6+OKUEBC490tZ3WIEFdy31eoGbYoHyYLdgMX+ihI1hYr73LE6Xl4lY0JRFILMwzNitmFd7HvH5/Q4v0/HwV2JlF361MEwmfH5BYLHXFTauU/de6nN1AiB8Qson5P5DQMg5mAgZtwccA7gV6eGpsUGIh/n7zRbG9+L1ah1pcXJF3OWpoV6BtFCemG+3um5V63xxwB690QyemRItAwSH65zn1rjsoDuOkGUnbFhpJkIlhmQJL3b2Om7U6F6oINBZ79jdGqi4UiL2xKs283ApO/LkGIp3mi4VNm7k4NzRWnoH/ezqPALfsjh2V7OxsN5wv1E/f4qyoFwL+qXHyJLCvb6TGCbNiA58WNl9saJry9KEh82Ge/V62GlrdhyPgw+d1pd/mYm8CRznP2odvI5H714WLxfzdnxU2m0gc488KG0x/ml9hoBLTORNbgroBsVQLEG1VSqYwueGCrgq/8HjBPOIYHb0fpChgV5oD2UbU6GfZkWFhYpYh+fEnTab3V3U0gsWfzUtFMJk4Hgrp4fCz/0mo8Xu/OhWK2OnVCGidXMHOSWAhwu5gBf6qMMywbH1VocWygUUgTQ3IodNiBVE5MaFky+/vShpUiBCsUcKGl49dKutp28imITcEJ+bMlA3uikLzbhoxj04WPh2wKCY0Twt4KhwlAB7N3bnky61TwaGnWEG2yW5iL9hXjQcoKBK986Zx+Z+FyrkrEwPH1phZXoYJuRYSPe+s9WXKrtBEuSDxIMFJ1SM8xIVwMdfFGuOXmvstjiA473D5RtuinRSNRrLjhMlZpsTapmcacoX96kBHlicorq7P2dDdiyC47cf6xYfuHEV1Bgv6EIk84TcSKu9raJ9b5Mun8AlfnQD8FFQeUDlycEIf2MFBkwNla18YrjYbjwPxQGfG+QNVRbqLDQj5rfRijUgs2lRbN6VJqPJceRaC+KiM5IUaZOG039qpGxGjKykzpD3TTMozhdzNy+O9Vdx3+vTiuoMaq111z9L9p2vDQrgDingrZtoRgONrM2b43++InFRsmrIzycgJpYd4XHBEv6nO7PmxCveOl2p1va9duj2F28ugDQt5BGjYZIIEmbH5Ze07u5zNlvtT8ZrGr2DHVYBQ4m58cegItWarjjcetKlf1rKI1ayHlF47+NU0rzcjLdOVphId1y4+MgbmQSODxsKx/JyZ2w48rC52yoTcg6tT48PlfpvmhAmufle9qHztdfqejQmR2+vfQQAOMoTctOSlLkLorYtSxyo5ikgMg8FfSY7DkbwCD7USL7bvixxeox88z+Ka5sMxn4IpuG30VHJgKL7zWTNQEM7waUQz+ESEv+ZfmcH6eygWecAoWMoVyGeSeDD3Vxrj7XDQKZGyxWiMVJ7b5+zqsMUqQgATMfb1Ey62/X9vgaN8fUpYCSIekwpFU5WinBsmEBaemwN2j4BF5s3BfiUeLYvKWowQMBOCZcMVCEjaM7mrFGbFySF+NsS/a/+ycs+zVM+G6ND0fA0eaPIS7wGlJlgUy8U4zz+twADAE7cbX6225xOAAAAAElFTkSuQmCC\"\n                                  width=\"93\"></span></p>                               </td><!-- spacer -->\n                          <td style='padding:18.75pt 22.5pt 15.0pt 0cm'>\n                            <p align=\"right\" class=\"MsoNormal\" style='text-align:right;line-height:105%'><span\n                                style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>GT365</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- banner text -->\n                          <td colspan=\"2\" style='background:#005FA8;padding:11.25pt 22.5pt 11.25pt 22.5pt'>\n                            <p style='line-height:105%'><span\n                                style='font-size:19.5pt;line-height: 105%;font-family:\"Segoe UI Light\",sans-serif;color:white'>Teams Audit [campaign]</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- content -->\n                          <td colspan=\"2\" style='width:100.0%;padding:11.25pt 22.5pt 11.25pt 22.5pt' width=\"100%\">\n                            <p style='line-height:13.5pt'><span\n                                style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>Hi,<br>\n\t\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\t\tYou are the owner of the following teams and are therefore responsible for the authorization review.<br>\n\t\t\t\t\t\t\t\tPlease ensure that only necessary people are members of your team and remove people from private channels or the entire team if they no longer need active access to the information contained therein.<br>\n\t\t\t\t\t\t\t\tConfirm which users still require access using the following authorization review.<br>\n\t\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\t\t[text]<br>\n\t\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\t\tSincerely, your IT-team</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- footer -->\n                          <td colspan=\"2\" style='background:#595959;padding:.75pt .75pt .75pt .75pt'>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              &nbsp;</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              <a href=\"https://www.atwork-it.com/gdpr/\" style=\"color:white\">Privacy statement</a></p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              This is an automatic generated email sent by <a href=\"https://www.atwork-it.com/\"\n                                style=\"color:white\">atwork</a>. Do not reply.</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              In case of questions, pls. contact <a href=\"mailto:office@atwork.at?subject=notification\"\n                                style=\"color:white\">office@atwork.at</a>.</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              &nbsp;</p>\n                          </td>\n                        </tr>\n                      </table>\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </div>\n            <div align=\"center\">\n              <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='width:450.0pt;border-collapse:collapse' width=\"600\">\n                <tr>\n                  <td style='width:450.0pt;background:#F1F1F1;padding:0pt 0pt 2.25pt 0pt' width=\"600\">\n                    <p align=\"left\" style='text-align:right'><span\n                        style='font-size:9.0pt;font-family:\"Segoe UI\",sans-serif;color:#666666'>&nbsp;</span></p>\n                  </td>\n                </tr>\n              </table>\n            </div>\n          </td>\n        </tr>\n      </table>\n    </div>\n    <p class=\"MsoNormal\">&nbsp;</p>\n  </div>\n</body>\n\n</html>"
                        }
                    ]
                },
                "runAfter": {
                    "initConfig": [
                        "Succeeded"
                    ]
                }
            },
            "initSendEmail": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "sendEmail",
                            "type": "boolean",
                            "value": false
                        }
                    ]
                },
                "runAfter": {
                    "getRecipients": [
                        "Succeeded"
                    ]
                }
            },
            "recipientsLoop": {
                "type": "Foreach",
                "foreach": "@body('getRecipients')?['value']",
                "actions": {
                    "GetAllOwnerGroups": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableOwners'])}/entities",
                            "queries": {
                                "$filter": "PartitionKey eq '@{variables('campaign')}' and UPN eq '@{items('recipientsLoop')?['RowKey']}' "
                            }
                        }
                    },
                    "checkSendEmail": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@variables('sendEmail')",
                                        true
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "sendEMail": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@{if(equals(variables('config')?['debug'],true),variables('config')?['adminEmail'],items('recipientsLoop')?['RowKey'])}",
                                        "Subject": "solution11: Teams Audit @{variables('campaign')}@{if(equals(variables('config')?['debug'],true),concat(' [',items('recipientsLoop')?['RowKey'],']'),'')} -  @{if(equals(variables('config')?['debug'],true),variables('config')?['adminEmail'],items('recipientsLoop')?['RowKey'])}",
                                        "Body": "<p>@{replace(replace(variables('emailTemp'), '[text]', variables('body')), '[campaign]', variables('campaign'))}</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "groupsLoop": [
                                "Succeeded",
                                "Failed"
                            ]
                        }
                    },
                    "groupsLoop": {
                        "type": "Foreach",
                        "foreach": "@body('GetAllOwnerGroups')?['value']",
                        "actions": {
                            "CheckTeamConfirmed": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@body('GetTeam')?['Confirmed']",
                                                true
                                            ]
                                        }
                                    ]
                                },
                                "actions": {},
                                "else": {
                                    "actions": {
                                        "Scope": {
                                            "type": "Scope",
                                            "actions": {
                                                "UpdateTeamsSentDate": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                            }
                                                        },
                                                        "method": "patch",
                                                        "body": {
                                                            "SentDate": "@{utcNow()}",
                                                            "SentDate@odata.type": "Edm.DateTime"
                                                        },
                                                        "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableOwners'])}/entities(PartitionKey='@{encodeURIComponent(variables('campaign'))}',RowKey='@{encodeURIComponent(items('groupsLoop')?['RowKey'])}')"
                                                    },
                                                    "runAfter": {
                                                        "checkShowMembers": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "addTeam": {
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "body",
                                                        "value": "<tr><td style=\"font-weight: 500;\">@{body('GetTeam')?['DisplayName']} (n)</td><td align=\"right\"><table cellspacing=\"0\" cellpadding=\"0\" style=\"text-align: right;\"><tr><td style=\"padding-right: 10px;\"><table cellspacing=\"0\" cellpadding=\"0\"><tr><td style=\"padding: 4px 14px; border-radius: 5px; background-color: #4CAF50;\"><a href=\"@{variables('config')?['submitActionUrl']}&action=check&requestId=@{items('groupsLoop')?['RequestId']}\" style=\"display: inline-block; color: #ffffff; text-decoration: none; border-radius: 5px;\">Check</a></td></tr></table></td><td><table cellspacing=\"0\" cellpadding=\"0\"><tr><td style=\"padding: 4px 14px; border-radius: 5px; background-color: #008CBA;\"><a href=\"@{variables('config')?['submitActionUrl']}&action=action&requestId=@{items('groupsLoop')?['RequestId']}\" style=\"display: inline-block; color: #ffffff; text-decoration: none;\">Confirm</a></td></tr></table></td></tr></table></td></tr>"
                                                    },
                                                    "runAfter": {
                                                        "openTable": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "checkShowMembers": {
                                                    "type": "If",
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@variables('config')?['showMembers']",
                                                                    true
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "actions": {
                                                        "AddTeamMembers": {
                                                            "type": "Scope",
                                                            "actions": {
                                                                "addListClose": {
                                                                    "type": "AppendToStringVariable",
                                                                    "inputs": {
                                                                        "name": "body",
                                                                        "value": "</ol><br>"
                                                                    },
                                                                    "runAfter": {
                                                                        "membersLoop": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                },
                                                                "addListStart": {
                                                                    "type": "AppendToStringVariable",
                                                                    "inputs": {
                                                                        "name": "body",
                                                                        "value": "<ol style=\"margin:10px0;\">"
                                                                    }
                                                                },
                                                                "membersLoop": {
                                                                    "type": "Foreach",
                                                                    "foreach": "@sort(body('getMembers')?['value'], 'UPN')",
                                                                    "actions": {
                                                                        "addMemberListItem": {
                                                                            "type": "AppendToStringVariable",
                                                                            "inputs": {
                                                                                "name": "body",
                                                                                "value": "<li style=\"font-weight:500:margin-bottom:5px\">@{items('membersLoop')['UPN']} (@{if(equals(item()?['IsGuest'], true), 'guest', 'member')})</li>"
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "ownersLoop": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                },
                                                                "ownersLoop": {
                                                                    "type": "Foreach",
                                                                    "foreach": "@sort(split(body('GetTeam')?['OwnersMail'], ';'))",
                                                                    "actions": {
                                                                        "addOwners": {
                                                                            "type": "AppendToStringVariable",
                                                                            "inputs": {
                                                                                "name": "body",
                                                                                "value": "<li>@{item()} (owner)</li>"
                                                                            }
                                                                        }
                                                                    },
                                                                    "runAfter": {
                                                                        "addListStart": [
                                                                            "Succeeded"
                                                                        ]
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "else": {
                                                        "actions": {
                                                            "addLineBreak": {
                                                                "type": "AppendToStringVariable",
                                                                "inputs": {
                                                                    "name": "body",
                                                                    "value": "<br>"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "closeTable": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "closeTable": {
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "body",
                                                        "value": "</table>"
                                                    },
                                                    "runAfter": {
                                                        "addTeam": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "openTable": {
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "body",
                                                        "value": "<table width=\"600\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">"
                                                    },
                                                    "runAfter": {
                                                        "Condition": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "setSendEmailTrue": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "sendEmail",
                                                        "value": true
                                                    },
                                                    "runAfter": {
                                                        "UpdateTeamsSentDate": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                },
                                                "Condition": {
                                                    "type": "If",
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    1,
                                                                    1
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "actions": {},
                                                    "else": {
                                                        "actions": {
                                                            "getMembers": {
                                                                "type": "ApiConnection",
                                                                "description": "Get members of the group by GroupId",
                                                                "inputs": {
                                                                    "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "get",
                                                                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent('groupmembers')}/entities",
                                                                    "queries": {
                                                                        "$filter": " PartitionKey eq '@{items('groupsLoop')['GroupId']}'",
                                                                        "$select": "IsGuest,UPN"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "GetTeam": [
                                        "Succeeded",
                                        "Failed"
                                    ]
                                }
                            },
                            "GetTeam": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tableTeams'])}/entities(PartitionKey='@{encodeURIComponent(variables('campaign'))}',RowKey='@{encodeURIComponent(concat(items('groupsLoop')?['PartitionKey'],'|',items('groupsLoop')?['GroupId']))}')",
                                    "queries": {
                                        "$select": "Confirmed,OwnersMail,Id,GroupId,DisplayName"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "setSendEmailFalse": [
                                "Succeeded"
                            ]
                        }
                    },
                    "setEmailStart": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "body",
                            "value": "Your Teams:<br>"
                        },
                        "runAfter": {
                            "GetAllOwnerGroups": [
                                "Succeeded"
                            ]
                        }
                    },
                    "setSendEmailFalse": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "sendEmail",
                            "value": false
                        },
                        "runAfter": {
                            "setEmailStart": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "initSendEmail": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuretables": {
                    "id": "/subscriptions/<your-subscription-id>/providers/Microsoft.Web/locations/southcentralus/managedApis/azuretables",
                    "connectionId": "/subscriptions/<your-subscription-id>/resourceGroups/RG-TeamsAudit/providers/Microsoft.Web/connections/azuretables",
                    "connectionName": "azuretables"
                },
                "office365": {
                    "id": "/subscriptions/<your-subscription-id>/providers/Microsoft.Web/locations/southcentralus/managedApis/office365",
                    "connectionId": "/subscriptions/<your-subscription-id>/resourceGroups/RG-TeamsAudit/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365"
                }
            }
        }
    }
}